@import "~styles/variables";

.c-button {
    cursor: pointer;
    font-size: 1rem;
    height: max-content;
    margin: 0 0.25rem;
    outline: 0;
    transition: ease-in 0.2s background-color;
}

.c-button:not(.c-button--link) {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 1rem;
}

.c-button.c-button--compact:not(.c-button--link) {
    padding: 0.5rem;
}

.c-button.c-button--primary {
    background-color: $ab-color--light-blue;
    color: $ab-color--white;

    &:hover {
        background-color: darken($ab-color--light-blue, 10%);
    }
}

.c-button.c-button--secondary {
    background-color: $ab-color--subtle-grey;
    color: $ab-color--almost-black;

    &:hover {
        background-color: darken($ab-color--subtle-grey, 10%);
    }
}

.c-button.c-button--ghost {
    background-color: transparent;
    border-color: $ab-color--white;
    color: $ab-color--white;

    &:hover {
        background-color: $ab-color--white;
        border-color: $ab-color-primary;
        color: $ab-color-primary;
    }
}

.c-button.c-button--disabled {
    background-color: rgba(#e1e1e1, 0.5);
    color: $ab-color--almost-black;
    cursor: not-allowed;

    &:hover {
        background-color: rgba(#e1e1e1, 0.5);
    }
}

.c-button.c-button--link {
    background: none;
    border: 0;
    color: $ab-color-link;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: $ab-color-link;
    }
}
