@import "~styles/variables";

.c-new-block {
    position: absolute;
    display: flex;
    flex: 1;
    justify-content: center;
    bottom: rem(-12px);
    left: 50%;
    transform: translateX(-50%);
}

.c-new-block.c-new-block--is-default {
    bottom: unset;
    transform: translate(-50%, 24px);
}

.c-new-block__icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $ab-color--light-blue;
}
