@import '~sass-rem';

$ab-color--navy: #3a425d;
$ab-color--light-blue: #509cf6;
$ab-color--orange: #f4b034;
$ab-color--almost-black: #232323;
$ab-color--white: #fff;

$ab-color-font: $ab-color--almost-black;
$ab-color-link: $ab-color--light-blue;
$ab-color-primary: $ab-color--navy;

$ab-max-width: 1200px;
