.App {
    font-family: sans-serif;
    padding: 1rem 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.c-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
}
