@import '~styles/variables';

.c-header {
    background-color: $ab-color-primary;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.c-header__inner {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    max-width: $ab-max-width;
}
