@import "~styles/variables";

.c-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.c-page.c-page--has-sidebar {
    .c-page__inner {
        margin-left: rem(200px);
        width: calc(100% - 200px);
    }
}

.c-page__inner {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: $ab-max-width;
    padding: 2rem;
    width: 100%;
}
