@import '~styles/variables';

.c-card {
    background-color: $ab-color--white;
    box-shadow: $ab-shadow--large;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem 2rem;
    width: rem(280px);
}

.c-card__heading {
    border-bottom: 1px solid $ab-color--subtle-grey;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    height: 2.5em;
}

.c-card__meta {
    font-size: rem(14px);
    color: #808080;
    margin-bottom: 0.5rem;

    .c-card__meta-table {
        padding: 0;
        margin: 0;
    }

    .c-card__meta-value {
        padding-left: 0.5rem;
    }
}

.c-card__body {
    display: flex;
    flex: 1;
    margin-bottom: 1rem;
}

.c-card__footer {
    border-top: 1px solid $ab-color--subtle-grey;
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
}
